@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes riseIn {
    from {
        opacity: 0;
        transform: translateY(3dvh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translate(-100dvw);
    }

    to {
        transform: translateX(0);
    }
}

html {
    scroll-behavior: smooth;
}

nav {
    padding-inline: 4rem;
    width: 100%;
    height: 15dvh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.nav-brand-text {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
    animation: riseIn 2s;
}

.nav-brand-text span{
    color: #b903d1;
}

.nav-list {
    display: flex;
    list-style: none;
    border-radius: 8dvh;
    animation: fadeIn 2s;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
    position: relative;
    padding: 5px;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:active {
    color: #ffffff;
}

.nav-link span {
    color: #b903d1;
    font-style: italic;
}

.nav-link::after {
    width: 0;
    left: 50%;
    bottom: 0;
    content: '';
    height: 4px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    background-color: #b903d1;
    transition: 0.3s all;
}

.nav-link:hover::after{
    width: 70%
}