@keyframes fullWidth {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

.bg-color-block {
    top: 0;
    right: -60dvw;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
    position: absolute;
    transform: skew(45deg);
    background-color: #b903d1;
    box-shadow: rgba(185, 3, 209, 0.4) -5px 5px, rgba(185, 3, 209, 0.3) -10px 10px, rgba(185, 3, 209, 0.2) -15px 15px, rgba(185, 3, 209, 0.1) -20px 20px, rgba(185, 3, 209, 0.05) -25px 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nav-width: 80dvw;
    font-family: 'Montserrat';
}

.nav-brand-text {
    color: #000000;
}

.nav-list {
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff26;
    background-color: #0000006c;
}

header {
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: end;
}

.header-content {
    width: 100%;
    height: 80%;
}

.header-row {
    width: 100%;
    height: 100%;
}

.virtual-phone {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.virtual-phone-img {
    height: 90%;
    object-fit: contain;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    margin-inline-start: 2rem;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Montserrat';
}

.header-title.first{
    color: #000000;
    position: relative;
    text-transform: uppercase;
}

.header-title.first::after{
    left: 0;
    height: 4px;
    bottom: 50%;
    content: '';
    animation: fullWidth 1s;
    animation-fill-mode: forwards;
    position: absolute;
    background-color: #b903d1;
}

.header-title.second {
    color: #000000;
    animation: slideIn 0.7s linear;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    text-transform: uppercase;
}

.header-title.second span {
    color: #b903d1;
    font-style: italic;
}

.header-title.third {
    color: #b903d1;
    animation: slideIn 0.7s linear;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    font-style: italic;
}