* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nav-width: 80dvw;
    font-family: 'Montserrat';
}

header {
    height: 100dvh;
    position: relative;
}

.background-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header-background {
    width: 100%;
}

.header-bg-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000054;
}

.header-text {
    top: 50%;
    font-weight: 700;
    position: absolute;
    animation: fadeIn 2s;
    margin-inline-start: 4rem;
    transform: translateY(-50%);
}

.header-title {
    font-size: 4rem;
    color: #ffffff;
}

.header-tagline {
    font-size: 4rem;
    color: #9205a5;
    font-weight: 900; 
}