{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'andromedesweb/index.css' %}">
    <title>Home - Andromedes Web</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Web Design</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Business Cards</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Meet The Team</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>